
html {
	height: 100%;
	width:100%;
	padding:0;
	margin:0;
}
nav {
	position: fixed;
	background-color: #EF4036;
	width:99%;
	height:70px;
	text-align: right;
	padding-top:10px;
	top:10px;
}
section {
	height:700px;
	width:100%;
	padding:0 0 5px 0;
	margin:0;
}
.navItems {
	display: inline-block;
	position: relative;
	padding:5px;
	width:120px;
	height:50px;
	border-radius:5px;
	background-color:#EF4036;
	box-shadow: 3px 3px 3px #000000;
	text-align: center;
	font-size: 30px;
	font-family: 'Great Vibes', cursive;
}
a:nth-child(4) {
	margin-right:20px;
}
#location {
	font-family: 'Great Vibes', cursive;
	font-size: 30px;
}
#home {
	background: url("wireframe/background-home.jpg");
	
}
#home {
	font-family:'Pathway Gothic One', sans-serif;
}
#home h1 {
	padding-top:150px;
	font-variant: small-caps;
	font-size:100px;
	letter-spacing: 5px;
	margin:0 0 10px 30px;
}
#home p {
	font-size: 40px;
	margin:0 0 10px 30px;
}
.homePic {
	height:350px;
	width:350px;
	border-radius:50%;
	background-color: #444444;
	float:right;
	margin-top:-60px;
	margin-right:70px;
}
#profile {
	background-image:url("wireframe/background-profile.jpg");

}
#projects {
	background-color: green;
}
#contact {
	background-color: yellow;
}
a:link {
	text-decoration: none;
}
a:visited {
	color:#000000;
}
a:hover {
	text-decoration: underline;
}

.rows {
	height:144px;
	margin:0;
	padding:0;

}
/*Styling for all profile area selectors*/
.headerBox {
	width:144px;
	height:144px;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
	line-height: 144px;
}
.row3 {
	margin-left:288px;
}
.row5 {
	height: 120px;
}
.inline-block {
	display:inline-block;
	margin:0;
	padding:0;
}
.row5 .headerBox {
	line-height: 120px;
}
#about {
	position: relative;
	top:-30px;
}

/* Skills list*/
li {
	display: inline-block;
	font-variant: small-caps;
	font-size:35px;
}
li:before {
	content: url("wireframe/bullet.jpg");
	padding:10px;

}

/* Styling for all profile information*/
.profileInfo {
	font-family:'Pathway Gothic One', sans-serif;
	visibility: hidden;
}

/* Styling for individual profile information*/
.learnInfo {
	font-size:45px;
	width:715px;
	text-align: left;
}
.skillsInfo {

	width:715px;
	text-align: right;
}
.interestInfo {

	width:432px;
	font-size: 20px;
	text-align: center;
}
.aboutInfo {

	width:432px;
	font-size: 20px;
	height: 144px;
}
#about1stP {
	position: relative;
	bottom:-15px;
}
#about2ndP {
	text-align: center;
	height:120px;

}

